.btn {
  align-items: center;
  cursor: pointer;
  background-color: white;
  border: 6px solid #da3531;
  color: #da3531;
  display: flex;
  font-size: 20px;
  font-weight: 700;
  justify-content: space-between;
  padding: 8px;
  transition: box-shadow .2s ease-in-out;
}

.btn:hover {
  box-shadow: 0 0 50px #ffff0080;
}

.btn.btn--animated {
  animation-name: pulse;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.btn > p {
  margin: 0 24px;
}
