* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
}

#app {
  background-color: #da3531;
  height: 100vh;
  padding: 64px 80px;
  width: 100vw;
}

.container {
  background-color: #f04f4e;
  border-radius: 24px;
  display: flex;
  height: 100%;
}

.grid {
  column-gap: 54px;
  display: grid;
  height: calc(100vh * .75);
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  margin: auto;
  width: calc(100vw * .5);
  row-gap: 32px;
}

.grid > img.card {
  height: 100%;
  object-fit: contain;
  width: 100%;
}

.grid > img.card.disabled {
  pointer-events: none;
}

.modal {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  height: 100vh;
  justify-content: center;
  position: fixed;
  width: 100vw;
}

.stamp {
  animation-name: pulse;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  height: 50%;
  opacity: 0;
}

@keyframes pulse {
  0% {
    opacity: 0;
  }

  10% {
    opacity: .50;
    transform-origin: 50% 50%;
    transform: scale(5);
    transition: all .3s cubic-bezier(0.6, 0.04, 0.98, 0.335);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}
