/* STYLES */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  position: relative;
}

#app {
  background-color: #da3531;
  height: 100vh;
  padding: 64px 80px;
  width: 100vw;
}

.modal {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  width: 100vw;
  z-index: 1;
}

.modal > :first-child {
  margin-bottom: 16px;
}

.stamp {
  animation-name: pulse;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  height: 50%;
  opacity: 0;
}

.btn {
  cursor: pointer;
  background-color: white;
  border: 6px solid #da3531;
  color: #da3531;
  font-size: 24px;
  font-weight: 700;
  padding: 8px 32px;
}

.btn.btn--animated {
  animation-name: pulse;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

/* ANIMATIONS */

@keyframes pulse {
  0% {
    opacity: 0;
  }

  10% {
    opacity: .50;
    transform-origin: 50% 50%;
    transform: scale(5);
    transition: all .3s cubic-bezier(0.6, 0.04, 0.98, 0.335);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}
